In [1]:
import pandas as pd
df=pd.read_csv("car_ownership.csv")
df.head()

   monthly_salary  owns_car
0           22000         0
1           25000         0
2           47000         1
3           52000         0
4           46000         1

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
x=df[['monthly_salary']]
y=df['owns_car']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
model=LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8888888888888888

In [4]:
model.predict_proba(x_test)

array([[0.04530932, 0.95469068],
       [0.80955349, 0.19044651],
       [0.05158003, 0.94841997],
       [0.86480041, 0.13519959],
       [0.91687254, 0.08312746],
       [0.82967465, 0.17032535],
       [0.87995016, 0.12004984],
       [0.07564619, 0.92435381],
       [0.84806892, 0.15193108]])

In [5]:
import math
def sigmoid(x):
    return 1/(1+math.exp(-x))

In [6]:
def prediction_function(salary,model):
    z=model.coef_*salary + model.intercept_
    y=sigmoid(z)
    return y

In [7]:
prediction_function(62000,model)

C:\Users\Tanushree Gupta\AppData\Local\Temp\ipykernel_12380\1349111734.py:3: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return 1/(1+math.exp(-x))

0.954690678813166